Dockerfile
.dockerignore
.git
.gitignore
.gitattributes
README.md
.npmrc
.prettierignore
.prettierrc
.eslintignore
.eslintrc.cjs
.graphqlrc
.editorconfig
.svelte-kit
.vscode
node_modules
build
package
**/.env
